/* styles for Search.jsx */

.search-input {
  width: 210px;
  border: 0px;
  outline: 0px;
  height: 28px;
  border-radius: 25px;
  background-color: #e4e7ed;
}

.search-input:focus {
  outline: none !important;
}
::placeholder {
  color: grey;
  opacity: .75; /* Firefox */
}

/* styles for Zone.jsx */
.cityName{
  text-align: center;
}
.zone-name{
  color:#284038;
  position: relative;

}

.zone-name::after {
 content:"";
 position:absolute;
 bottom: -5px;
    left: 6px;
 height:5px;
 width: 100px;
 background-color: #a4c635;;
}
.zone-container {
  font-family: "Roboto";
}

.low-temp-range {
  margin-top: -5px;
  text-align: center;
  color:#284038;
}
.temp-range {
  color:#284038;
  margin-top: -15px;
  font-size: 12px;
  text-align: center;
  color:#284038;
}

/* styles for Palms.jsx */
.palm-tree-icon{
  height:30px;
  width:30px;
 }
 .palm-list-title{
  font-family: "Roboto";
   color:#284038;
  font-weight: bold;
 }
.palm-list-container {
  margin-top: 30px;
  min-width: 300px;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.palm-list {
  /* list-style-type: none; */
  display: inline-block;
  text-align: center;
  font-family: "Roboto";
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
  
}
.palm-list li{

  font-style: italic;
  margin:5px;
}
.palm-list li::marker{
display: none!important;
}
