.palm-container-muted {
  display: none;
}

.palm-container-active {

  background-color: #f5f6f7;
  border-radius: 25px;
 margin-top: 50px;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
 .palm-tree-icon{
  height:30px;
  width:30px;
 }
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 250px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 25px;
  background-color: #e4e7ed;
  height: 30px;
  box-shadow: 0 0 2px rgba(45, 45, 45, 0.2), 0 4px 8px rgba(45, 45, 45, 0.16),
    0 8px 16px rgba(45, 45, 45, 0.12);
}
.search-icon {
  height: 15px;
  width: 15px;
  display: block;
  margin-right: 4px;
  margin-top: 1px;
}
