.app {
/* display: flex;
flex-direction: row; */
}
.search-bar{
  display: flex;
flex-direction: row;
}
.search-icon{
  height:20px;
  width:20px;
  display: block;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

