.app {
/* display: flex;
flex-direction: row; */
}
.search-bar{
  display: flex;
flex-direction: row;
justify-content: center;
}
.search-icon{
  height: 15px;
  width: 15px;
  display: block;
  margin-top: 4px;
  margin-left: 4px;
}
.palm-list{
  list-style-type: none;
}

